.header-container {
  background-color: black;
  opacity: 0.8;
  width: 100%;

  top: 0;
  left: 0;
  position: sticky !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  z-index: 100;
  padding-top: 15px;
  padding-bottom: 15px;
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    img {
      z-index: 1;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
  }
  .logo-text {
    background: url(https://st2.depositphotos.com/1184748/7055/v/600/depositphotos_70556373-stock-video-nature-background-beautiful-blurred-abstract.jpg) -80px -80px;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 50px;
    font-family: arial, helvetica;
    width: 600px;
    margin: 50px auto;
    text-align: center;
  }
  .header-right {
    color: white;
    display: flex;
    .user {
      margin-right: 30px;
      display: flex;
      align-items: center;
      text-transform: capitalize;
      cursor: pointer;
      .fas {
        margin-right: 5px;
      }
      .user-item {
        margin-right: 10px;
      }
    }
    .user:hover {
      color: red;
    }
  }
  .cart {
    padding-top: 5px;
    margin-right: 15px;
    position: relative;
    .fa-cart-arrow-down {
      color: white;
      font-size: 1.4rem;
      margin-right: 5px;
    }
    .number-item {
      color: white;
      background-color: red;
      width: 18px;
      height: 18px;
      font-size: 0.75rem;
      border-radius: 50%;
      top: 0px;
      left: 77%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .fa-cart-arrow-down:hover {
      transition: 0.75ms;
      color: var(--lightBlue);
    }
  }
}

.menu-wrap {
  z-index: 1;
}

.menu-wrap #toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 70px;
  height: 70px;
  opacity: 0;
}

.menu-wrap .hamburger {
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-wrap .hamburger > div::after {
  top: 10px;
}

.menu-wrap #toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap #toggler:checked + .hamburger > div:before,
.menu-wrap #toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap #toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

.menu-wrap #toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap #toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.menu-wrap #toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: black;

  border-radius: 50%;
  width: 300vw;
  height: 300vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  position: relative;
}
.menu-wrap .menu > div > div > ul > li.itemLast {
  display: none;
}
.menu-wrap .menu > div > div > ul > li > a:hover {
  color: red;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .header-container {
    .header-right {
      .user {
        display: none;
      }
    }
    .menu-wrap .menu > div > div > ul > li.itemLast {
      display: block;
    }
  }
}
