.aboutpage {
  .about-item {
    width: 100%;
    height: auto;
    display: flex;
    margin: 15px 0px;
    padding: 15px 0px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-width: 1px 1px 0 1px;
    img {
      width: 100%;
      max-height: 100%;
      max-width: 100%;
    }
  }
}
@media only screen and (max-width: 768px) {
  .aboutpage {
    padding-right: 15px;
  }
  .aboutpage .about-item {
    display: block;
    margin-bottom: 15px;
  }
}
